<h2><%= @user.first_name %> <%= @user.last_name %></h2>

<% if @user.products.length > 0 %>
  <div class="product-list">
    <h4>Products</h4>
    <% @user.sort_products.each do |product| %>
      <div class="product">
        <%= link_to(product.title, user_product_path(@user, product)) %>
      </div>
    <% end %>
  </div>
<% end %>


<% if @user == current_user %>

<% if @cart.length > 0 %>
<div>
<h4>My shopping cart!</h4>

<% @cart.each do |product| %>
  <%= product.title %>
  <%= form_tag(user_ratings_path(product.user_id), method: :post) do%>
      <%= label_tag :rate %>
      <%= text_field_tag :rate %>
      <%= submit_tag 'Give a rating to the seller' %>
  <% end %> 
<% end %>

</div>
<% end %>

<div>

<h4>New Product</h4>

<%= form_for [@user, @product] do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>
<br>
<%= f.label :description %>
<%= f.text_field :description %>
<br>
<%= f.label :deadline %>
<%= f.date_field :deadline %>
<br>
<%= f.label :minimum_bid %>
<%= f.text_field :minimum_bid %>
<br>
<%= f.submit :save %>

<% end %>
</div>

<% end %>

<% if @user.reviews.count > 0 %>
<div>
<h4>My reviews</h4>

<ul>
<% @user.reviews.each do |review| %>
  <% product = Product.find(review.product_id) %>
  <li><%= product.title %> : <%= review.description %>

    <%= link_to('Delete', user_product_review_path(current_user, product, review), method: :delete) %><br>

    <%= form_tag(user_product_review_path(current_user, product, review), method: :patch) do%>
      <%= label_tag :description %>
      <%= text_field_tag :description %>
      <%= submit_tag :edit %>
    <% end %>

  </li>   
<% end %>
</ul>

</div>
<% end %>

<% if @user.ratings.count > 0 %>
<div>
  <p>Average rate: <%= @user.get_average_rate %></p>
</div>
<% end %>
