<% if current_user %>
  <h1>Welcome to the auction site <%= current_user.first_name %> </h1>
  <p><%= link_to('Log out', logout_path) %></p>
  <p><%= link_to('See all the products', products_path) %></p>
  <p><%= link_to('Go to my profile', user_path(current_user)) %></p>
<% else %>
  <h1>Welcome to the auction site</h1>
  <%= link_to('Log in', login_path) %>
  <%= link_to('Sign up', new_user_path) %>
<% end %>