<h2><%= @product.title %></h2>
<p><%= @product.description %></p>
<p><%= @product.deadline %></p>

<% if @product.active_bid? %>

  <div>
    <form action="/users/<%= @user.id %>/products/<%= @product.id %>/bids" method='POST'>
      
      <label for="email">Email</label>
      <input type='text' placeholder='email' name="bid[email]" id="email" required>
      
      <label for="email">Amount</label>
      <input type='text' placeholder='amount' name="bid[amount]" id="amount" required>
      
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
      <button type="submit">Go!</button>

    </form>
  </div>

<% else %>

  <% winner_bid = Bid.find(@product.winner_bid_id) %>
  <% winner_user = User.find(winner_bid.user_id) %>
  <div>
    <p>The winner is <%= winner_user.first_name %> with a <%= winner_bid.amount %> bid!</p>
  </div>

<% end %>

<% if @product.bids.any? && @product.active_bid? %>
<div>
  <ul></ul>
  <% @product.bids.each do |bid| %>
    <li><%= User.find(bid.user_id).first_name %> : <%= bid.amount %></li>
  <% end %>
  </ul>
</div>
<% end %>

<% if current_user && current_user != @user %>

  <div>
    <form action="/users/<%= @user.id %>/products/<%= @product.id %>/reviews" method='POST'>
      
      <label for="description">Review</label>
      <input type='text' placeholder='add a review' name="review[description]" id="description" required>
      
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
      <button type="submit">Go!</button>

    </form>
  </div>

<% end %>

<% if @product.reviews.any? %>
<div>
  <ul></ul>
  <% @product.reviews.each do |review| %>
    <li><%= User.find(review.user_id).first_name %><br>
        <%= review.description %></li>
  <% end %>
  </ul>
</div>
<% end %>